<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/ramybenaroya/ember-cli-log-observers-and-computed">Fork me on GitHub</a>
    </div>
</div>
<h1>Ember-cli-log-observers-and-computed Example</h1>
{{code-snippet name='application.js'}}
Output: {{output}}
<p>
	Open the console and you will see endless debug messages
</p>
{{outlet}}
